{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
<div class="container">
    <div class="row" style="margin: 2% 2% 0% 2%">
        <div class="col-6">
            <img src={{ movieData.imageUrl }} width="50%" height="auto" alt={{ movieData.title }}>
        </div>
        <div class="col-6" >
            <h2 style="color: white">{{ movieData.title }}</h2>
            {% if movieData.genre1 %}
            <button class="btn btn-primary btn-rounded btn-sm" >{{ movieData.genre1 }}</button>
            {% endif %}
            {% if movieData.genre2 %}
            <button class="btn btn-primary btn-rounded btn-sm" >{{ movieData.genre2 }}</button>
            {% endif %}

{#            <form action="" method="post">#}
{#                {% csrf_token %}#}
{#                <input id="heart" type="checkbox" onchange="callView(this)"/>#}
{#                <label for="heart">❤</label>#}
{##}
{#            </form>#}
            {% if isLiked %}
                <span style="color: red;font-size: larger" onclick="window.location.href = '/movies/like/{{ movieData.id |floatformat:"0" }}';"><i class="bi bi-heart-fill"></i></span>
            {% else %}
{#                    <a href="/movies/like/{{ movieData.id |floatformat:"0" }}">#}
                  &nbsp; <span style="color: red;font-size: larger" onclick="window.location.href = '/movies/like/{{ movieData.id |floatformat:"0" }}';" style="color: blue"><i class="bi bi-heart"></i></span>
            {% endif %}

            <br><br>
            <span class="badge rounded-pill bg-warning text-dark">{{ movieData.rating }}</span>

            <h6 style="color: white">Director &nbsp; <span style="color: blue">{{ movieData.director }}</span></h6>
            <h6 style="color: white">Cast &nbsp; <span style="color: blue">
                {% for a in actorList %}
                    {{ a }} &nbsp;
                {% endfor %}
            </span></h6>
            <h6 style="color: white">Runtime &nbsp; <span style="color: blue">{{ movieData.runtime }} <span>Mins</span></span></h6>

            <h6 style="color: white">Release Year &nbsp; <span style="color: blue">{{ movieData.year }}</span></h6>
{#            <p style="font-size: 10px;color: white">{{ movieData.plot }}</p>#}
         <div class="show-hide-text">
          <a  id="show-more" class="show-less" href="#show-less">Show less</a>
          <a  id="show-less" class="show-more" href="#show-more">Show more</a>
          <p style="font-size: 15px;color: white">{{ movieData.plot }}</p>
        </div>
        </div>
    </div>
    <br>
<div class="row" style="color:white">
    Reviews:
    {% for comment in comments %}
    <div class="comments" style="padding: 10px;">
      <p class="font-weight-bold">
        <span class=" text-muted font-weight-normal">
          On {{ comment.created_on }} by {{ comment.username }}
        </span>
      </p>
      {{ comment.body | linebreaks }}
    </div>
{% endfor %}
</div>


<div class="col-md-8 mb-8 mt-3 " style="background-color: black; width:80%; color:white" >
      <div class="card-body" style="width:100%">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
            {% if username %}
                <h3>Leave a comment</h3>
                <form method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                  {{ comment_form.as_p }}
                  <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                </form>
            {% else %}
                <h5>Please signin to leave a comment.</h5>
            {% endif %}
        {% endif %}
      </div>
</div>
</div>
</main>





{% endblock %}