{% extends 'base.html' %}
{% load static %}
{% block content %}

{#   <header class="p-3 bg-dark text-white" >#}
{#    <div class="container">#}
{#      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">#}
{#        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"  style="margin-right: 13px;font-size: 20px">#}
{#          MovieFlix#}
{#        </a>#}
{##}
{#        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">#}
{#          <li><a href="/home" class="nav-link px-2 text-white">Home</a></li>#}
{#          <li><a href="/movies" class="nav-link px-2 text-white">Movies</a></li>#}
{#          <li><a href="#" class="nav-link px-2 text-white">Actors</a></li>#}
{##}
{#        </ul>#}
{##}
{#        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">#}
{#          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">#}
{#        </form>#}
{##}
{#        {% if username  %}#}
{#            {{ username }} &nbsp;&nbsp; <a href="/logout">Logout</a>#}
{#        {% else %}#}
{#             <div class="text-end">#}
{#              <button type="button" class="btn btn-outline-light me-2"><a href="/signin" style="color: gold">Sign-In</a></button>#}
{#              <button type="button" class="btn btn-warning"><a href="/signup" style="color: black">Sign-up</a></button>#}
{#            </div>#}
{#        {% endif %}#}
{##}
{#      </div>#}
{#    </div>#}
{#  </header>#}
<main>
 <form action="" method="POST">
              {% csrf_token %}
<div class="container">
     <div class="input-group mb-5" style="margin-top: 2%">

             <input id="movieFilter" name="searchmovie" type="text" class="form-control" placeholder="Movie" aria-label="Recipient's username" aria-describedby="button-addon2">
             <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>


    </div>
    <div>
        <div class="row">
            <div class="col">
                <label style="color: white" for="genre">Genre</label>
                <select name="genre" class="form-control">
                    <option value={{ genre }} selected></option>
                    {%for g in genres %}
                        <option value={{ g }}>{{ g | title }}</option>
                    {%endfor %}
                 </select>
            </div>
            <div class="col">
                <label style="color: white" for="year">Year</label>
                <select name="year" class="form-control">
                    <option value={{ year }}></option>
                    {% for y in years %}
                        <option value={{ y | floatformat:"0" }}>{{ y }}</option>
                    {% endfor %}

                 </select>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>
 </form>
   <div class="row row-cols-1 row-cols-md-6 g-4" style="margin: 30px 5% 30px 5%">
       {% for m in movies %}
           <div class="col imageCard"  onclick="window.location.href = '/movie/{{ m.id }}';">
            <div class="card h-100" style="background-color: black">
              <img class="image" src={{ m.imageUrl }} height="100%" class="card-img-top" alt="...">
                <div class="middle">
                    {{ m.genre1}} <br> {{ m.genre2 }} <br> {{ m.rating }}
                </div>
              <div class="card-body">
                <h5 class="card-title"><p style="color: white">{{ m.title }}</p></h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
       {% endfor %}

   </div>
<nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if movies.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ movies.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
          </li>
        {% endif %}

        {% if movies.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ movies.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in movies.paginator.page_range %}
            {% if movies.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}

              </span>
            </li>
            {% elif i > movies.number|add:'-5' and i < movies.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if movies.paginator.num_pages > movies.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ movies.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if movies.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ movies.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->

</main>





{% endblock %}